#nav {
    background-color: rgb(24, 6, 6); 
    list-style-type:none;
    text-align: center;
    margin: 0;
    padding: 0;
    
  }
 
  #nav li {
    display: inline-block;
    font-size:70px;
    padding: 60px;
  }
  #aa{
     font-family: 'Roboto';font-size: 30px;
     background: rgb(224, 61, 61);
     padding: 0px;
     margin: 0;
     border: 5px outset rgb(58, 53, 53);
     font-size:30px;
    }
#bb{
  font-family: 'Roboto';font-size: 30px;
  background: rgb(93, 233, 93);
  padding: 0px;
  margin: 0;
  border: 5px outset rgb(58, 53, 53);
  font-size: 29px;
}
#cc{
  font-family: 'Roboto';font-size: 30px;
  background: rgb(79, 79, 238);
  padding: 0px;
  margin: 0;
  border: 5px outset rgb(58, 53, 53);
  font-size: 28px;
}
#dd{
  font-family: 'Roboto';font-size: 30px;
  background: rgb(241, 87, 241);
  padding: 0px;
  margin: 0;
  border: 5px outset rgb(58, 53, 53);
  font-size: 27px;
}
  #kk{ font-family: 'Roboto';font-size: 30px;
    background:powderblue;
    font-size: 26px;
    padding: 50px;
    margin: 0;
    border:  5px outset rgb(58, 53, 53);
  }
  
  
  